# This is a basic workflow to help you get started with Actions

name: Build & Deploy

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Find Directory
        run: cd $GITHUB_WORKSPACE
        

      - name: Zip Plugin
        run: zip -r extension.zip ./plugin
        
      - name: Upload to Chrome Webstore
        uses: trmcnvn/chrome-addon@v2
        with:
          # ID of the extension that you are updating
          extension: jbfgmfpakhabhhpefblmehnadjjkadna
          # Path to a .zip of your addon
          zip: ./extension.zip
          # Google OAuth2 client id
          client-id: ${{ secrets.CHROME_CLIENT_ID }}
          client-secret: ${{ secrets.CHROME_CLIENT_SECRET }}
          refresh-token: ${{ secrets.CHROME_REFRESH_TOKEN }}


